* {
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}

main {
    display: flex;
    align-items: center;
}

header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

.sidebar,
.main-content {
    height: 500px;
    width: 40%;
}

.venue_img {
    max-width: 100%;
}

.user_profile_avatar {
    border-radius: 50%;
    max-width: 50%;
}