

.flash-messages {
    height: 32px;
    width: 20%;
    background-color: white;
    border-radius: 16px;
}

#headline-logo {
    font-size: 48px;
    width: auto;
}

.column {
    border: solid 1px rgba(0,0,0.5)
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.sidebar,
.main-content {
    height: 500px;
    width: 40%;
}

.venue_img, .band_img {
    max-width: 100%;
}

.user_profile_avatar {
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

.inline-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.rating-container {
    display: flex;
}

.rating-container div {
    width: 22.5%;
    text-align: center;
}