<div class="about">
        <div class="about-img">
            <img class="intothepit-img" src="{{url_for('static', filename='images/intothepit.png')}}" alt="Logo">
        </div>
        <div class="about-text">
            <br>
            <h1 class="title is-6 has-text-centered">INTO THE PIT</h1>
            <p class="subtitle is-6 has-text-centered">
                Into the pit is the place to go for finding your next mosh pit. Log in, follow venues or bands and we will deliver all of the best upcoming metal and punk shows
                so you can get your mosh on.
            </p>
            <br>
            <h1 class="title is-6 has-text-centered is-uppercase">How to get Into The Pit:</h1>
            <p class="subtitle is-6 has-text-centered">First things first, <a href="{{url_for('login')}}">Login</a> or <a href="{{url_for('register')}}">Register</a> for an account if you don't already have one. Once you are
                signed in, browse venues and bands from this page. If you browse to the venue or band you will see a list of upcoming shows that
                are inevitably going to have a mosh pit. Each venue is rated by the users of Into The Pit to give you an idea of what to expect. Sound quality all there?
                Do the facilities or bar suck? IS THERE A GIANT POLE RIGHT IN THE MIDDLE OF THE FLOOR? Looking at you, Bottom of the Hill. Leave some feedback and let the rest of your fellow metalheads know. You can also favorite the venue or band and see what shows are coming up
                from your profile page. </p>
            <br>
            <p class="subtitle is-6 has-text-centered">That's about it, see you in the circle...</b></p>
        </div>
    </div>