{% extends "layout.html" %}
{% block sidebar %}
    <div class="user-wrapper">
        <h3>USERS</h3>
        <a href="/admin/add_user">Add A User</a>
        {% for user in users %}
        {% if user.user_level == "walrus" %}
            {% if user == current_user %}
            <p class="current_admin">UserID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }}</a> - {{ user.email}} - User Level: {{ user.user_level }} / Hey, that's you!</p>
            {% else %}
            <p class="admin">UserID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }}</a> - {{ user.email}} - User Level: {{ user.user_level }}</p>
            <a href="{{ url_for('admin_update_user', id=user.id) }}">Update</a> <a href="{{ url_for('delete_user', id=user.id) }}" class="delete_button">Delete</a>
            {%endif%}
        {% endif %}
        {% if user.user_level != "walrus" %}
        <p>UserID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }}</a> - {{ user.email}} - User Level: {{ user.user_level }}</p>
        <a href="{{ url_for('admin_update_user', id=user.id) }}">Update</a> <a href="{{ url_for('delete_user', id=user.id) }}" class="delete_button">Delete</a>
        {% endif %}
        {% endfor %} 
    </div>
    <div class="venue-wrapper">
        <h3>VENUES</h3>
        <a href="/admin/add_venue">Add A Venue</a>
        {% for venue in venues %}
        <p><a href="{{url_for('venue',id=venue.id)}}">{{ venue.name }}</a>, id: {{ venue.id }}</p>
        <a href="{{ url_for('admin_update_venue', id=venue.id) }}">Update</a> <a href="{{ url_for('delete_venue', id=venue.id) }}" class="delete_button">Delete</a> <a href="{{ url_for('update_venue_img', id=venue.id)}}">Img</a>
        {% endfor %}
    </div>
    <div class="band-wrapper">
        <h3>BANDS</h3>
        <a href="/admin/add_band">Add A Band</a>
        {% for band in bands %}
        <p><a href="{{url_for('band',id=band.id)}}">{{ band.name }}</a>, id: {{ band.id }}</p>
        <a href="{{ url_for('admin_update_band', id=band.id) }}">Update</a> <a href="{{ url_for('delete_band', id=band.id) }}" class="delete_button">Delete</a>
        {% endfor %}
    </div>

    
{% endblock %}

{% block main_header %}
    {% if users and venues and bands %}
    {% else %}
        {% if users %}
            {% if user %}
            <h3>Updating {{ user.email }}</h3>
            {% else %}
            <h3>Creating New User</h3>
            {% endif %}
        {% endif %}
        {% if venues %}
            {% if venue %}
            <h3>Updating {{ venue.name }}</h3>
            {% else %}
            <h3>Creating New venue</h3>
            {% endif %}
        {% endif %}
        {% if bands %}
            {% if band %}
            <h3>Updating {{ band.name }}</h3>
            {% else %}
            <h3>Creating New band</h3>
            {% endif %}
        {% endif %}
        {% if events %}
            {% if event %}
            <h3>Updating {{ event.name }}</h3>
            {% else %}
            <h3>Creating New event</h3>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}