{% extends "layout.html" %}
{% from 'macros.html' import render_field, render_edit_field %}
{% block sidebar %}
    <div class="columns admin-tab-container">
        <a class="column admin-tab" href="{{url_for('add_user')}}">
            <div>USERS</div>
        </a>
        <a class="column admin-tab" href="{{url_for('add_venue')}}">
            <div>VENUES</div>
        </a>
        <a class="column admin-tab" href="{{url_for('add_band')}}">
            <div>BANDS</div>
        </a>
    </div>
    {% if landing %}
        <p class="has-text-centered">Press one of the buttons above to view the entries in that category and bring up a form to add a new instance</p>
    {% endif %}

    
    {% if users %}
    <p class="has-text-centered">USERS</p>
        {% for user in users %}
        {% with admin_user=True %}
            {% include "confirm_modal.html" %}
        {% endwith %}
        {% if user.user_level == "walrus" %}
            {% if user == current_user %}
            <div class="box">
                <div class="level">
                    <p class="current_admin">Admin ID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }} </a> - {{ user.email}}</p>
                    <p class="level-right">(Current User)</p>
                </div>
            </div>
            {% else %}
            <div class="box">
                <div class="level">
                    <p class="admin">Admin ID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }} </a> - {{ user.email}}</p>
                    <span class="admin-control level-right">
                        <a href="{{ url_for('admin_update_user', id=user.id) }}" class="icon update_button">
                            <img class="icon is-small" src={{url_for('static',filename="pen.png")}}>
                        </a>
                        <a href="#" onclick=confirmModal("user",{{user.id}}) class="icon delete_button">
                            <img class="icon is-small" src={{url_for('static',filename="cross.png")}}>
                        </a>
                    </span>
                </div>
            </div>
            {%endif%}
        {% endif %}
        {% if user.user_level != "walrus" %}
            <div class="box">
                <div class="level">
                    <p>User ID: {{user.id }} - <a href="{{url_for('user',id=user.id)}}">{{ user.username }} </a> - {{ user.email}}</p>
                    <span class="admin-control level-right">
                        <a href="{{ url_for('admin_update_user', id=user.id) }}" class="icon update_button">
                            <img class="icon is-small" src={{url_for('static',filename="pen.png")}}>
                        </a>
                        <a href="#" onclick=confirmModal("user",{{user.id}}) class="icon delete_button">
                            <img class="icon is-small" src={{url_for('static',filename="cross.png")}}>
                        </a>
                    </span>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    {% elif venues %}
    <p class="has-text-centered">VENUES</p>
        {% for venue in venues %}
        {% with admin_venue=True %}
            {% include "confirm_modal.html" %}
        {% endwith %}
            <div class="box">
                <div class="level">
                    <p>ID: {{venue.id}} - <a href="{{url_for('venue',id=venue.id)}}">{{ venue.name }}</a>/{{venue.display_name}}</p>
                    <span class="admin-control level-right">
                        <a href="{{ url_for('admin_update_venue', id=venue.id) }}" class="icon update_button">
                            <img class="icon is-small" src={{url_for('static',filename="pen.png")}}>
                        </a>
                        <a href="#" onclick=confirmModal("venue",{{venue.id}}) class="icon delete_button">
                            <img class="icon is-small" src={{url_for('static',filename="cross.png")}}>
                        </a>
                    </span>
                </div>
            </div>
        {% endfor %}
    {% if venues|length > 25%}
        {% include 'paginator.html' %}
    {% endif %}
    {% elif bands %}
    <p class="has-text-centered">BANDS</p>
        {% for band in bands %}
        {% with admin_band=True %}
            {% include "confirm_modal.html" %}
        {% endwith %}
            <div class="box">
                <div class="level">
                    <p>ID: {{band.id}} - <a href="{{url_for('band',id=band.id)}}">{{ band.name }}</a>/{{band.display_name}}</p>
                    <span class="admin-control level-right">
                        <a href="{{ url_for('admin_update_band', id=band.id) }}" class="icon update_button">
                            <img class="icon is-small" src={{url_for('static',filename="pen.png")}}>
                        </a>
                        <a href="#" onclick=confirmModal("band",{{band.id}}) class="icon delete_button">
                            <img class="icon is-small" src={{url_for('static',filename="cross.png")}}>
                        </a>
                    </span>
                </div>
            </div>
        {% endfor %}
        {% if bands|length > 25%}
            {% include 'paginator.html' %}
        {% endif %}
    {% endif %}



{% endblock sidebar %}


{% block main %}
{% if form %}
    {% if record %}
    {% else %}
        {% if users %}
            <h2 class="has-text-centered">Adding User</h2>
        {% elif venues %}
            <h2 class="has-text-centered">Adding Venue</h2>
        {% elif bands %}
            <h2 class="has-text-centered">Adding Band</h2>
        {% endif %}
    {% endif %}

    <div class="box little-more-padding">
        {% if record %}
        <form method="POST" enctype="multipart/form-data" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_edit_field(field, record) }}
            {% endfor %}
        </form>
        {% else %}
        <form method="POST" enctype="multipart/form-data" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
        {% endif %}
    </div>

{% else %}


    {% if landing %}
    <p class="has-text-centered">You got this, you're the best!</p>
    <div class="venue-img-wrapper">
            <img class="venue_img" src="{{ url_for('static', filename='images/beavisandbutthead.gif')}}" alt="">
    </div>
    {% else %}
        {% if users %}
            {% if user %}
            <h3 class="title is-6 has-text-centered">Updating {{ user.email }}</h3>
            {% else %}
            <h3 class="title is-6 has-text-centered">Creating New User</h3>
            {% endif %}
        {% endif %}
        {% if venues %}
            {% if venue %}
            <h3 class="title is-6 has-text-centered">Updating {{ venue.name }}</h3>
            {% else %}
            <h3 class="title is-6 has-text-centered">Creating New Venue</h3>
            {% endif %}
        {% endif %}
        {% if bands %}
            {% if band %}
            <h3 class="title is-6 has-text-centered">Updating {{ band.name }}</h3>
            {% else %}
            <h3 class="title is-6 has-text-centered">Creating New Band</h3>
            {% endif %}
        {% else %}
        {% endif %}
    {% endif %}

{% endif %}
{% endblock main %}

