{% extends "layout.html" %}


{% block sidebar %}
<h2 class="title is-4 has-text-centered is-uppercase">{{band.name}}</h2>
<div class="venue-img-wrapper">
    <img class="band_img" src="{{ url_for('static', filename=band.img.decode('utf-8'))}}" alt="">
</div>
<br>
<p class="has-text-centered">{{band.about}}</p>
{% if current_user.is_anonymous == false %}

<br>

    {% if is_favorite %}
    <p class="has-text-centered">This is one of your favorite bands! <a href="{{url_for('delete_favorite_band',id=band.id)}}">Unfavorite?</a></p>
    {% else %}
    <a href="{{url_for('add_favorite_band', id=band.id)}}">Add To Favorites</a>
    {% endif %} 
{% endif %}

{% endblock %}


{% block main_header %}
<h3 class="title is-4 has-text-centered is-uppercase">Upcoming Events</h3>
{% endblock %}

{% block main %}
{% for event in events %}
    <img class="inline-avatar" src="{{ url_for('static', filename=event.band_fk.img.decode('utf-8'))}}" alt="">
    <p>{{ event.band_fk.name }} is playing on {{ event.date }} at <a href="{{url_for('venue_events',id=event.venue_fk.id)}}">{{ event.venue_fk.name}}</a></p>
    {% if current_user.user_level == "walrus" %}
    <a href="{{ url_for('update_event', id=event.id)}}">Update</a> <a href="{{ url_for('delete_event', id=event.id)}}">Delete</a>
    {% endif %}
{% endfor %}
    <div class="band-events" id="band-events">
    </div>
{% endblock %}


{% block script %}
<script>
        bandApi()
</script>
{% endblock %}