{% extends "layout.html" %}
{% block sidebar %}
<h2>{{band.name}}</h2>
<img class="band_img" src="{{ url_for('static', filename=band.img.decode('utf-8'))}}" alt="">
<p>{{band.about}}</p>
{% if is_favorite %}
<p>This is one of your favorite bands!</p><a href="{{url_for('delete_favorite_band',id=band.id)}}">Unfavorite?</a>
{% else %}
<a href="{{url_for('add_favorite_band', id=band.id)}}">Add To Favorites</a>
{% endif %} 

{% endblock %}


{% block main_header %}
<h3>Upcoming Events</h3>
{% endblock %}

{% block main %}
{% for event in events %}
    <img class="inline-avatar" src="{{ url_for('static', filename=event.band_fk.img.decode('utf-8'))}}" alt="">
    <p>{{ event.band_fk.name }} is playing on {{ event.date }} at <a href="{{url_for('venue_events',id=event.venue_fk.id)}}">{{ event.venue_fk.name}}</a></p>
    {% if current_user.user_level == "walrus" %}
    <a href="{{ url_for('update_event', id=event.id)}}">Update</a> <a href="{{ url_for('delete_event', id=event.id)}}">Delete</a>
    {% endif %}
{% endfor %}
{% endblock %}