{% block footer %}
<div class="footer-bg">
<p class="footer-p1">&copy; 2019 <a href="https://github.com/WalrusMaximus">WalrusMaximus</a>. UX Design by <a href="https://www.cjzarback.com/">CJ Zarback</a>. Live events provided by <a href="http://www.songkick.com">Songkick</a>.</p>
<p class="footer-p2">&copy; 2019 <a href="https://github.com/WalrusMaximus">WalrusMaximus</a>. UX Design by <a href="https://www.cjzarback.com/">CJ Zarback</a>.<br class="footer-break">Live events provided by <a href="http://www.songkick.com">Songkick</a>.</p>
</div>
{% endblock %}