{% extends "layout.html" %}
{% block sidebar %}
<div class="about">
        <div class="about-img">
            <img src="{{url_for('static', filename='images/intothepit.jpg')}}" alt="A Mosh Pit">
        </div>
        <div class="about-text">
            <p>
                Into the pit is the place to go for finding your next mosh pit. Log in, follow venues or bands and we will deliver all of the best upcoming metal and punk shows
                so you can get your mosh on.
            </p>
            <h3>How to get Into The Pit:</h3>
            <p>First things first, <a href="{{url_for('login')}}">Login</a> or <a href="{{url_for('register')}}">Register</a> for an account if you don't already have one. Once you are
                signed in, browse to a venue from this page or check our list of moshable <a href="#">bands</a>. If you browse to the venue you will see a list of upcoming shows that
                are inevitably going to have a mosh pit. Each venue is rated by the users of Into The Pit to give you an idea of what to expect. Is the mosh pit good? Sound quality all there?
                Do the facilities or bar suck? Leave some feedback and let the rest of your fellow metalheads know. You can also favorite the venue or band and see what shows are coming up
                from your profile page. </p>
            <p>That's about it, see you in the circle... and remember: <b>NO KARATE IN THE MOSH PIT!</b></p>
        </div>
    </div>
{% endblock %}

{% block main %}
 
<h2>Venues</h2>
{% for venue in venues %}
<a href="{{ url_for('venue', id=venue.id) }}">{{venue.name}}</a>
{% endfor %} 

{% endblock %}
