{% extends "layout.html" %}
{% block sidebar %}
{% include "/about.html" %}
{% endblock %}

{% block main %}
 
<h2 class="title is-5 has-text-centered">VENUES</h2>
<div class="venues-container">
        {% if no_venues %}
        No Venues Found
        {% else %}
            {% for venue in venues %}
            <div class="box">
                <p class="has-text-centered"><a href="{{ url_for('venue', id=venue.id) }}">{{venue.name}}</a></p>
            </div>
            {% endfor %}
        {% endif %}
</div class="bands-container">
<h2 class="title is-5 has-text-centered">BANDS</h2>
<div class="bands-container">
        {% if no_bands %}
        No Bands Found
        {% else %}
            {% for band in bands %}
            <div class="box">
                <p class="has-text-centered"><a href="{{ url_for('band', id=band.id) }}">{{band.name}}</a></p>
            </div>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}
