<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Into The Pit</title>
    {% include '/jstest.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div>
            <h1>INTO THE PIT</h1>
            <img class="sk_logo" src="{{url_for('static',filename='api_attribution/powered-by-songkick-black.png')}}" alt="">
        </div>
        {% include '/header.html' %}
    </header>
    <main>
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="main-content">
            {% block main_header %}
            {% endblock %}
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <footer>
        {% include '/footer.html' %}
    </footer>
    <script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
</body>
</html>