<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Into The Pit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/rating_form.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    html, body {background-image: url({{url_for('static', filename="images/intothepit.jpg")}});}
    html, body {background-repeat: no-repeat;}
    html, body {background-attachment: fixed;}
    html, body {background-size: cover;}
    </style>
</head>
<body>
    <header>
        {% include '/header.html' %}
    </header>
    <section class="section">
        <div class="columns is-desktop left-column">
            <div class="column">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="column right-column">
                {% block main_header %}
                {% endblock %}
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </section>
    <footer>
        {% include '/footer.html' %}
    </footer>
    <script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='app.js') }}"></script>
    {% include '/script.html' %}
    {% block script %}
    {% endblock %}
</body>
</html>