{% macro render_field(field) %}
<div class="field control has-text-centered">
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="notification error">{{ error }}</div>
    {% endfor %}
  {% endif %}
  {% if field.type == 'SelectField' %}
    <label for="{{ field.id }}">{{field.label.text}}:</label>
    {{ field(class='select', placeholder=field.label.text)}}
  {% elif field.type == 'RadioField' %}
    <label for="{{ field.id }}" class="has-text-centered">{{field.label.text}}:</label>
    {{ field(class='radio box has-text-centered', value=value)}}
  {% elif field.type == 'DateField' %}
    <label for="{{ field.id }}">{{field.label.text}}:</label>
    {{ field(type='date',placeholder=field.label.text) }}
  {% elif field.id == 'csrf_token' %}
  {% elif field.type == "SubmitField" %}
    <button class="button is-info is-fullwidth">Submit</button>
  {% else %}
    {{ field(class='input', id=field.label.text, placeholder=field.label.text, placeholder=field.label.text) }}
  {% endif %}
</div>
{% endmacro %}}

{% macro render_edit_field(field,record) %}
<div class="field control has-text-centered">
  {% for key, value in record.items() %}
    {% if key == field.id %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="notification error">{{ error }}</div>
        {% endfor %}
      {% endif %}
      {% if field.type == 'SelectField' %}
        <label for="{{ field.id }}">{{field.label.text}}:</label>
        {{ field(class='select', value=value)}}
      {% elif field.type == 'RadioField' %}
        <label for="{{ field.id }}" class="has-text-centered">{{field.label.text}}:</label>
      {{ field(class='radio box has-text-centered', value=value)}}
      {% elif field.type == 'DateField' %}
        <label for="{{ field.id }}">{{field.label.text}}:</label>
        {{ field(type='date',value=value) }}
      {% else %}
      <label for="{{ field.id }}">{{field.label.text}}:</label>
      {{ field(class='input', placeholder=field.label.text, value=value) }}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if field.type == "SubmitField" %}
  <button class="button is-info is-fullwidth">Submit</button>
  {% endif %}
</div>
{% endmacro %}}