<!-- Reusable ratings template for user profile and venue pages -->
<div class="box">
<article class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      {% if rating.user_fk.avatar == "images/user_default.png" %}
      <img class="inline-avatar" src="{{url_for('static',filename='images/user_default.png')}}" alt="">
      {% else %}
      <img class="inline-avatar" src="{{rating.user_fk.avatar}}" alt="">
      {% endif %}
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      {% if venue %}
      <p class="level-text"><a href="{{url_for('user',id=rating.user_fk)}}">{{ rating.user_fk.username }}</a>: {{rating.rating_type}} {{ rating.rating }}/5:
        {{ rating.message }}
      </p>
      {% else %}
      <p class="level-text"><a href="{{url_for('user',id=rating.user_fk)}}">{{ rating.user_fk.username }}</a> - <a href="{{url_for('venue',id=rating.venue_fk)}}">{{rating.venue_fk.name}}</a>: {{rating.rating_type}} {{ rating.rating }}/5:
        {{ rating.message }}
      </p>
      {% endif%}
    </div>
  </div>

  <!-- Right side -->
    {% if rating.user_fk.id == current_user.id %}
    <div class="level-right">
      <span class="icon is-medium">
        <a href="{{ url_for('venue_update_rating', id=rating.id)}}" aria-label="fa-cog">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
      </span>
      <span class="icon is-medium" onclick=confirmRatingDelete() aria-label="remove">
        <i class="fas fa-times" aria-hidden="true"></i>
      </span>
    </div>
      {% endif %}
  </article>
</div>

<div class="modal" id="rating-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm Deletion</p>
      </header>
      <section class="modal-card-body">
        <p>Are you sure you want to delete this post?</p>
        <p>{{rating.message}}</p>
      </section>
      <section class="modal-card-body">

      </section>
      <footer class="modal-card-foot">
        <span>
          <form action="{{ url_for('delete_rating', id=rating.id, profile=False)}}">
            <button class="button is-danger">Delete</button>
          </form>
          <button class="button" onclick=cancelRatingDelete()>Cancel</button>
        </span>
      </footer>
    </div>
  </div>
