<div class="tabs">

    <form class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" class="tab-select" checked>
        <label for="tab-1" class="tab-label">Overall</label>

        <div class="form-content">
            <fieldset class="rating">
                <input type="radio" id="star5-overall" name="rating-overall" value="5" />
                <label class = "full" for="star5-overall" title="Awesome - 5 stars"></label>

                <input type="radio" id="star4-overall" name="rating-overall" value="4" />
                <label class = "full" for="star4-overall" title="Pretty good - 4 stars"></label>

                <input type="radio" id="star3-overall" name="rating-overall" value="3" />
                <label class = "full" for="star3-overall" title="Meh - 3 stars"></label>

                <input type="radio" id="star2-overall" name="rating-overall" value="2" />
                <label class = "full" for="star2-overall" title="Kinda bad - 2 stars"></label>

                <input type="radio" id="star1-overall" name="rating-overall" value="1" />
                <label class = "full" for="star1-overall" title="Sucks big time - 1 star"></label>

                <textarea name="" id="" cols="30" rows="10">
                    Hello my name is Brock
                </textarea>
            </fieldset>

            <input type="submit" name="submit-overall" placeholder="Submit">
        </div> 
    </form>

    <form class="tab">
        <input type="radio" id="tab-2" name="tab-group-1" class="tab-select">
        <label for="tab-2" class="tab-label">Mosh Pit</label>

        <div class="form-content">
        <fieldset class="rating">
            <input type="radio" id="star5-mosh" name="rating-mosh" value="5" />
            <label class = "full" for="star5-mosh" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4-mosh" name="rating-mosh" value="4" />
            <label class = "full" for="star4-mosh" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3-mosh" name="rating-mosh" value="3" />
            <label class = "full" for="star3-mosh" title="Meh - 3 stars"></label>

            <input type="radio" id="star2-mosh" name="rating-mosh" value="2" />
            <label class = "full" for="star2-mosh" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1-mosh" name="rating-mosh" value="1" />
            <label class = "full" for="star1-mosh" title="Sucks big time - 1 star"></label>

            <textarea name="" id="" cols="30" rows="10">
                Hello my name is Brock
            </textarea>

            <input type="submit" name="submit-mosh" placeholder="Submit">
        </fieldset>
        </div> 
    </form>

    <form class="tab">
        <input type="radio" id="tab-3" name="tab-group-1" class="tab-select">
        <label for="tab-3" class="tab-label">Sound</label>

        <div class="form-content">
        <fieldset class="rating">
            <input type="radio" id="star5-sound" name="rating-sound" value="5" />
            <label class = "full" for="star5-sound" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4-sound" name="rating-sound" value="4" />
            <label class = "full" for="star4-sound" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3-sound" name="rating-sound" value="3" />
            <label class = "full" for="star3-sound" title="Meh - 3 stars"></label>

            <input type="radio" id="star2-sound" name="rating-sound" value="2" />
            <label class = "full" for="star2-sound" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1-sound" name="rating-sound" value="1" />
            <label class = "full" for="star1-sound" title="Sucks big time - 1 star"></label>

            <textarea name="" id="" cols="30" rows="10">
                Hello my name is Brock
            </textarea>

            <input type="submit" name="submit-sound" placeholder="Submit">
        </fieldset>
        </div> 
    </form>

    <form class="tab">
        <input type="radio" id="tab-4" name="tab-group-1" class="tab-select">
        <label for="tab-4" class="tab-label">Facility</label>

        <div class="form-content">
        <fieldset class="rating">
            <input type="radio" id="star5-facility" name="rating-facility" value="5" />
            <label class = "full" for="star5-facility" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4-facility" name="rating-facility" value="4" />
            <label class = "full" for="star4-facility" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3-facility" name="rating-facility" value="3" />
            <label class = "full" for="star3-facility" title="Meh - 3 stars"></label>

            <input type="radio" id="star2-facility" name="rating-facility" value="2" />
            <label class = "full" for="star2-facility" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1-facility" name="rating-facility" value="1" />
            <label class = "full" for="star1-facility" title="Sucks big time - 1 star"></label>

            <textarea name="" id="" cols="30" rows="10">
                Hello my name is Brock
            </textarea>

            <input type="submit" name="submit-facility" placeholder="Submit">

        </fieldset>
        </div> 
    </form>
 </div>
