{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block main %}

<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
</form>
<div>
    <p>Already Registered? - <a href="{{ url_for('login') }}">Login</a></p>
    <p>Selling user data isn't metal. You can rest assured we will ask you only for function critical information to deliver you an exceptional product, and, that we work hard to keep your information safe from prying eyes and unscrupulous hands.</p>
</div>

{% endblock %}