<script>
    let metro = "26330"
    var bands = []
    var bandQuery = "https://api.songkick.com/api/3.0/artists/" + {{bandskid}} + "/calendar.json?apikey=" + "{{ config['SONGKICK_API_KEY'] }}"
    var venueQuery = "https://api.songkick.com/api/3.0/venues/" + {{venueskid}} + "/calendar.json?apikey=" + "{{ config['SONGKICK_API_KEY'] }}"


    function bandApi() {
        $.ajax({
            method: 'GET',
            url: bandQuery,
            success: function(res){
                var result = new Set()                
                let foundEvents = res.resultsPage.results.event

                foundEvents.filter(event => {
                    if (event.venue.metroArea.id == metro) {                        
                        result.add(event)
                    }
                })
                let bandEvents = Array.from(result)
                if (bandEvents.length == 0) {
                    $('#band-events').append(`<p class="has-text-centered">Looks like they aren't in town any time soon...</p>`)
                } else {
                    for(let i=0;i<bandEvents.length;i++) {
                        if (bandEvents[i].performance.length > 1) {
                            for(let i=0;i<bandEvents.length;i++) {
                                let arrayOfArtists = bandEvents[i].performance
                                if (arrayOfArtists.length > 1) {
                                    let artists = []
                                    for(let i=0; i<arrayOfArtists.length; i++) {
                                        artists.push(arrayOfArtists[i].displayName)
                                    }
                                    eventName = artists.join(" / ")
                                }
                            }
                            $('#band-events').append(`<div class="box"><a href=${bandEvents[i].uri}>${eventName} @ ${bandEvents[i].venue.displayName} on ${bandEvents[i].start.date}</a></div>`)
                        } else {
                        $('#band-events').append(`<div class="box"><a href=${bandEvents[i].uri}>${bandEvents[i].performance[0].artist.displayName} @ ${bandEvents[i].venue.displayName} on ${bandEvents[i].start.date}</a></div>`)
                        }
                    }
                }
            },
            error: function(err) {                
            }
        })
    }
        function favBand(favorite) {
            query = "https://api.songkick.com/api/3.0/artists/" + favorite + "/calendar.json?apikey=" + "{{ config['SONGKICK_API_KEY'] }}"
            $.ajax({
                method: 'GET',
                url: query,
                success: function(res){
                    var result = new Set()                    
                    let foundEvents = res.resultsPage.results.event
    
                    foundEvents.filter(event => {
                        if (event.venue.metroArea.id == metro) {
                            if (event)
                                                        
                            result.add(event)
                        }
                    })
                    let bandEvents = Array.from(result)
                    console.log(bandEvents)
                    if (bandEvents.length > 0) {
                        $('#favorite-band-null').remove()
                    }
                    console.log(bandEvents)
                    for(let i=0;i<bandEvents.length;i++) {
                        if (bandEvents[i].performance.length > 1) {
                            for(let i=0;i<bandEvents.length;i++) {
                                let arrayOfArtists = bandEvents[i].performance
                                if (arrayOfArtists.length > 1) {
                                    let artists = []
                                    for(let i=0; i<arrayOfArtists.length; i++) {
                                        artists.push(arrayOfArtists[i].displayName)
                                    }
                                    eventName = artists.join(" / ")
                                }
                            }
                            $('#favorite-band-events').append(`<div class="box"><a href=${bandEvents[i].uri}>${eventName} @ ${bandEvents[i].venue.displayName} on ${bandEvents[i].start.date}</a></div>`)
                        } else {
                        $('#favorite-band-events').append(`<div class="box"><a href=${bandEvents[i].uri}>${bandEvents[i].performance[0].artist.displayName} @ ${bandEvents[i].venue.displayName} on ${bandEvents[i].start.date}</a></div>`)
                        }
                    }
                },
                error: function(err) {                    
                }
            })
        }

    function favVenue(favorite) {
        query = "https://api.songkick.com/api/3.0/venues/" + favorite + "/calendar.json?apikey=" + "{{ config['SONGKICK_API_KEY'] }}"
        $.ajax({
            method: 'GET',
            url: query,
            success: function(res){
                var result = new Set()
                let foundEvents = res.resultsPage.results.event

                for(let i=0;i<foundEvents.length;i++){
                    foundEvents[i].performance.filter(perf => {
                        let artistId = perf.artist.id
                        let idFound = bands.includes(artistId.toString())
                        if (idFound) {
                            result.add(foundEvents[i])
                        }
                })
            }
                let event = Array.from(result) 
                    console.log(event)
                    if (event.length > 0) {
                        $('#favorite-venue-null').remove()
                    }
                    console.log(event)
                    for(let i=0;i<event.length;i++) {
                        if (event[i].performance.length > 1) {
                            for(let i=0;i<event.length;i++) {
                                let arrayOfArtists = event[i].performance
                                if (arrayOfArtists.length > 1) {
                                    let artists = []
                                    for(let i=0; i<arrayOfArtists.length; i++) {
                                        artists.push(arrayOfArtists[i].displayName)
                                    }
                                    eventName = artists.join(" / ")
                                }
                            }
                            $('#favorite-venue-events').append(`<div class="box"><a href=${event[i].uri}>${eventName} @ ${event[i].venue.displayName} on ${event[i].start.date}</a></div>`)
                        } else {
                        $('#favorite-venue-events').append(`<div class="box"><a href=${event[i].uri}>${event[i].performance[0].artist.displayName} @ ${event[i].venue.displayName} on ${event[i].start.date}</a></div>`)
                        }
                    }
                },
            error: function(err) {                
            }
        })
    }

    function venueApi() {
        $.ajax({
            method: 'GET',
            url: venueQuery,
            success: function(res){
                var result = new Set()
                let foundEvents = res.resultsPage.results.event

                for(let i=0;i<foundEvents.length;i++){
                    foundEvents[i].performance.filter(perf => {
                        let artistId = perf.artist.id
                        let idFound = bands.includes(artistId.toString())
                        if (idFound) {
                            result.add(foundEvents[i])
                        }
                })
            }
                let event = Array.from(result)
                if (event.length == 0) {
                    $('#venue-events').append(`<p class="has-text-centered">Looks like they aren't in town any time soon...</p>`)
                } else {
                    for(let i=0;i<event.length;i++) {
                        if (event[i].performance.length > 1) {
                            for(let i=0;i<event.length;i++) {
                                let arrayOfArtists = event[i].performance
                                if (arrayOfArtists.length > 1) {
                                    let artists = []
                                    for(let i=0; i<arrayOfArtists.length; i++) {
                                        artists.push(arrayOfArtists[i].displayName)
                                    }
                                    eventName = artists.join(" / ")
                                }
                            }
                            $('#venue-events').append(`<div class="box"><a href=${event[i].uri}>${eventName} on ${event[i].start.date}</a></div>`)
                        } else {
                        $('#venue-events').append(`<div class="box"><a href=${event[i].uri}>${event[i].performance[0].artist.displayName} on ${event[i].start.date}</a></div>`)
                        }
                    }
                }
            },
            error: function(err) {                
            }
        })
    }

</script>
