{% extends "layout.html" %}
{% from 'macros.html' import render_field, render_edit_field %}

{% block sidebar %}

<h4 class="title has-text-centered is-6 is-uppercase">{{user.username}}</h4>
<div class="venue-img-wrapper">
    <img class="user_profile_avatar" src="{{ url_for('static', filename=user.avatar.decode('utf-8'))}}" alt="profile image">
</div>
<br>
{% if img_updating and current_user == user %}
<p class="has-text-centered"><a href="{{url_for('user',id=user.id)}}">Nevermind, don't change my image</a></p>
{% elif current_user == user %}
<p class="has-text-centered"><a href="{{url_for('update_user',id=user.id)}}">Change Profile Image</a></p>
{% endif %}

<br>

{% if img_updating %}
    <form method="POST" enctype="multipart/form-data" action="" class="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
    </form>
{% endif %}

<br>

{% if favorite_bands %}
<h4 class="title has-text-centered is-6 is-uppercase">Favorite Bands</h4>
{% for favorite_band in favorite_bands %}
<div class="box"><a href="{{url_for('band',id=favorite_band.band_fk)}}">{{favorite_band.band_fk.name}}</a></div>
{% endfor %}
{% elif no_favorites %}
{% else %}
<p class="has-text-centered">Looks like {{ user.username }} doesn't have any favorite bands...</p>
{% endif %}

<br>

{% if favorite_venues %}
    <h4 class="title has-text-centered is-6 is-uppercase">Favorite Venues</h4>
{% for favorite_venue in favorite_venues %}
    <div class="box"><a href="{{url_for('venue',id=favorite_venue.venue_fk)}}"><img src>{{favorite_venue.venue_fk.name}}</a></div>
{% endfor %}
{% elif no_favorites %}
{% else %}
<p class="has-text-centered">Looks like {{ user.username }} doesn't have any favorite venues...</p>
{% endif %}

{% endblock %}

{% block main_header %}
{% if rating %}
<a href="{{ url_for('user', id=rating.user_fk.id)}}">Changed my mind, I don't want to Update</a>
{% endif%}

{% endblock %}

{% block main %}
{% set img_url = user.avatar.decode('utf-8') %}
<h4 class="title has-text-centered is-6 is-uppercase">Ratings</h4>
    {% if rating %}
    <h4>Updating Post:</h4>
    <img class="inline-avatar" src="{{ url_for('static', filename=img_url)}}" alt=""><p>{{ rating.user_fk.username }} says: {{ rating.message }} about the {{ rating.rating_type }} at <a href="{{url_for('venue',id=rating.venue_fk)}}">{{ rating.venue_fk.name }}</a> and gave it a rating of {{ rating.rating }}/5</p>
        
        {% if form %}
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_edit_field(field,record) }}
            {% endfor %}
            <input type="submit" name="submit" placeholder="Submit">
        </form>
        {% endif %}
    {% endif %}
    {% for rating in ratings %}
    {% include "ratings.html" %}
    {% else %}
    <p>Looks like there are no ratings here..</p>
    {% endfor %}
    <br>


    {% if bands_query and current_user == user %}
        <h4 class="title has-text-centered is-6 is-uppercase">Upcoming Events by Favorite Artists...</h4>
        <div id="favorite-band-events">
        </div>
        <br>
    {% endif %}
    {% if venues_query and current_user == user %}
        <h4 class="title has-text-centered is-6 is-uppercase">Upcoming Events at Favorite Venues...</h4>
        <div id="favorite-venue-events">
        </div>
    {% endif %}

{% endblock %}


{% block script %}
    {% for band in approved_bands %}
        <script>
            bands.push("{{band}}")
        </script>
    {% endfor %}
    {% for band in bands_query %}
        <script>
            favBand({{band}})
        </script>
    {% endfor %}
    {% for venue in venues_query %}
        <script>
            favVenue({{venue}})
        </script>
    {% endfor %}
{% endblock %}