{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block sidebar %}

<h4>{{user.username}}</h4>
<img class="user_profile_avatar" src="{{ url_for('static', filename=user.avatar.decode('utf-8'))}}" alt="">

{% endblock %}

{% block main_header %}
{% if found_rating %}
<a href="{{ url_for('user', id=found_rating.user_fk.id)}}">Changed my mind, I don't want to Update</a>
{% endif%}

{% endblock %}

{% block main %}
{% set img_url = user.avatar.decode('utf-8') %}
<h4>Ratings</h4>
    {% if found_rating %}
    <h4>Updating Post:</h4>
    <img class="inline-avatar" src="{{ url_for('static', filename=img_url)}}" alt=""><p>{{ found_rating.user_fk.username }} says: {{ found_rating.message }} about the {{ found_rating.rating_type }} at <a href="{{url_for('venue_rating',id=found_rating.venue_fk)}}">{{ found_rating.venue_fk.name }}</a> and gave it a rating of {{ found_rating.rating }}/5</p>
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    {% endif %}
    {% for rating in ratings %}
    <img class="inline-avatar" src="{{ url_for('static', filename=img_url)}}" alt=""><p>{{ rating.user_fk.username }} says: {{ rating.message }} about the {{ rating.rating_type }} at <a href="{{url_for('venue_rating',id=rating.venue_fk)}}">{{ rating.venue_fk.name }}</a> and gave it a rating of {{ rating.rating }}/5</p>
        {% if user == current_user %}
        <a href="{{ url_for('user_update_rating', id=rating.id)}}">Update</a> <a href="{{ url_for('delete_rating', id=rating.id, profile=True)}}">Delete</a>
        {% endif %}
    {% endfor %}
{% endblock %}