{% extends "layout.html" %}\
{% from 'macros.html' import render_field %}

{% block sidebar %}

<h4>{{venue.name}}</h4>
<p>{{venue.about}}</p>
<img class="venue_img" src="{{ venue_img }}" alt="">

{% endblock %}

{% block main_header %}
{% if show_ratings %}
<a href="{{url_for('venue_events', id=id)}}">Go To Events</a>
{% endif %}
{% if show_events %}
<a href="{{url_for('venue_rating', id=id)}}">Go To Ratings</a>
{% endif %}
{% if found_rating %}
<h4>Editing Rating:</h4>
<p>{{ found_rating.user_fk.username }} says: {{ found_rating.message }}. {{found_rating.rating_type}} {{ found_rating.rating }}/5</p>
{% elif show_ratings %}
<h4>Add new Rating:</h4>
{% endif %}
{% if found_event %}
{% elif show_events %}
<h4>Add new Event:</h4>
{% endif %}
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
</form>
{% if found_rating %}
<a href="{{ url_for('venue_rating', id=found_rating.venue_fk.id)}}">Changed my mind, I don't want to edit</a>
{% endif%}

{% endblock%}

{% block main %}
    {% if show_ratings %}
        <h4>Ratings</h4>
        {% for rating in ratings %}
            <p>{{ rating.user_fk.username }} says: {{ rating.message }}. {{rating.rating_type}} {{ rating.rating }}/5</p>
            {% if rating.user_fk.id == current_user.id %}
            <a href="{{ url_for('venue_update_rating', id=rating.id)}}">Edit</a> <a href="{{ url_for('delete_rating', id=rating.id, profile=False)}}">Delete</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if show_events %}
        <h4>Events</h4>
        {% for event in events %}
            <p>{{ event.band_fk.name }} is playing on {{ event.date }} at {{ event.venue_fk.name}}</p>
            {% if current_user.user_level == "walrus" %}
            <a href="#">Edit</a> <a href="#">Delete</a>
            {% endif %}
        {% endfor %}
        {% if current_user.user_level == "walrus" %}
            <form method="POST" action="" class="form">
                {{ form.hidden_tag() }}
                {% for field in event_form %}
                    {{ render_field(field) }}
                {% endfor %}
            </form>
        {% endif%}
    {% endif %}


{% endblock %}